---
import Layout from "../layouts/main.astro";
import {DISCORD} from "../config";
import Timer from "../components/Timer.astro";
import SimpleCard from "../components/SimpleCard.astro"
---

<Layout title="SpookyJam" description="SpookyJam is an annual mod jam held in celebration of the fall season!" displayTitle = {false}>
    <img class="mx-auto mb-8 max-h-[6rem]" src="./titles/spookyjam.png" alt="SpookyJam Logo"/>
    <p class="text-left mx-auto">
        SpookyJam is an annual Minecraft mod jam held in celebration of the fall season! We invite modders of all skill
        levels to join us in creating mods that are spooky, mysterious, or fit with the vibes of autumn. Our goal is to
        foster a sense of community and encourage everyone to push their creative limits!
    </p>

    <div class="grid gap-10 md:grid-cols-2 my-8 mx-auto">
        <SimpleCard title="Celebrate the Season" icon="ðŸŽƒ" summary="Embrace the spirit of fall with fellow creators in a community full of chills, thrills, and creativity."/>
        <SimpleCard title="Win While Learning" icon="ðŸ¬" summary="Earn unique and exclusive rewards for improving your spooky skills while in a supportive environment!"/>
        <SimpleCard title="Make New Friends" icon="ðŸ‘»" summary="Connect with modders, artists, and players who share your love for the strange and eerie!"/>
            <SimpleCard title="Play" icon="ðŸŽ­" summary="Download the official SpookyJam modpack and public server themed around the event!"/>
    </div>

    <h2 class="text-center" id="next-event">SpookyJam 2025</h2>
    <Timer date={Date.UTC(2025, 9, 1, 0, 0, 0) - (12 * 60 * 60 * 1000)}>
        <div slot="before">
            <p class="text-left mx-auto">
                SpookyJam 2025 will begin on October 1st! We look forward to celebrating with the community and hope you will
                join us!
            </p>
            <p class="text-left mx-auto">
                You can learn more about the event <a href="/events/2025">here</a>.
            </p>
        </div>
        <div slot="after">
            <p class="text-left mx-auto my-8">
                SpookyJam 2025 has officially started! You may now start working on your submissions. You will have until
                the end of October to submit your entry. We recommend submitting your entry as soon as possible so players
                have time to enjoy your mod throughout the month.
            </p>
            <img class="mx-auto mb-8" src="./hero_image.png" alt="Hero Image"/>
            <img class="mx-auto my-8" width="64" src="/ghost_logo.png" alt="Lumina, the mascot of SpookyJam!"/>
        </div>
    </Timer>
</Layout>