---
const {title, icon, summary} = Astro.props;
---

<div class="flex flex-col items-center text-center p-4 rounded-2xl bg-gray-800 shadow-2xl border border-2 border-amber-700">
    <span class="flex flex-row justify-center align-middle">
        <div class="text-5xl align-middle">{icon}</div>
        <p class="text-xl font-semibold text-orange-300 align-middle">{title}</p>
    </span>
    <p class="text-gray-300 mb-8">{summary}</p>
</div>